<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location to provide location-based features.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We need your location to provide notifications and information relevant to your area

We need your location to provide notifications and information relevant to your area

We need your location to provide notifications and information relevant to your area

We need yopur location to provide notiofications and information relavant to your area.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
